@model Ventra.Domain.Entities.Category

@{
    var pageName = "Categoria detalhes";
    ViewData["Title"] = pageName;
}


<div class="container-xl">
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@pageName</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateCreated)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateUpdated)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex gap-1">
                        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
                        <a asp-action="Index">Voltar para a lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



